
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.buscador-inteligente,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<body>

  <!-- Header -->
  <header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Buscador Inteligente</h1>
    <p class="w3-xlarge">Uma plataforma inteligente para aprendizado</p>
  </header>

  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Repositórios de vídeo aulas</h1>
        <h5 class="w3-padding-32">A nossa plataforma permite que professores se conectem com alunos em repositórios modernos e de fácil acesso.</h5>

        <p class="w3-text-grey">Com a tecnologia de transcrição automática de vídeos, nossa plataforma permite que alunos encontrem o conteúdo com mais rapidez e que os professores tenham
          uma plataforma moderna e segura para o ensino. Nós acreditamos que o ambiente de aprendizado deve ser aprimorado com novas tecnologias, para novas gerações de estudantes.</p>
      </div>

      <div class="w3-third w3-center">
        <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
      </div>
    </div>
  </div>

  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
      </div>

      <div class="w3-twothird">
        <h1>Exemplo de funcionalidade do Buscador Inteligente</h1>
        <iframe width="640" height="376" src="https://www.youtube.com/embed/lAIGb1lfpBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</body>
